version: '3.8'
services:
  user-service:
    build: .
    ports:
      - "3002:3002"
    environment:
      - DATABASE_URL=postgres://username:password@db:5432/translation_platform
      - KAFKA_HOST=kafka:9092
    depends_on:
      - db
      - kafka

  db:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: translation_platform
    ports:
      - "5432:5432"

  kafka:
    image: bitnami/kafka
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper

  zookeeper:
    image: bitnami/zookeeper
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "2181:2181"
